
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações Básicas do Curso</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="id_professor" name="id_professor" value="<%=(item ? item.id_professor : 0) %>" />
				<div class="form-group">
					<label for="nome_professor">Nome</label>
					<input id="nome_professor" name="nome_professor" maxlength="50" class="form-control upper" type="text" spellcheck="false" value="<%=(item ? item.nome_professor : '') %>" />
				</div>
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar Professor') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			nome_professor: {
				required: true,
				minlength: 3,
				maxlength: 50
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item)  { %>

			JsonWebApi.postFormData("/api/professor/alterar", form, function (response) {
				if (response.success)
					Notification.success("Professor alterado com sucesso! \uD83D\uDE04");
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("/api/professor/criar", form, function (response) {
				if (response.success) {
					form.reset();
					$("#form").validate().resetForm();
					Notification.success("Professor criado com sucesso! \uD83D\uDE04");
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
